h1{color:rgb(1, 45, 1);text-align: center;
font-family: Playfair Display;}
p{color:rgb(6, 10, 0);text-align: center;
font-family: Poppins;}
.box {
    width: 400px;
    height: 600px;
    background-color: white;
    border-radius: 5%;
    overflow:hidden;
    box-sizing: border-box;
    border: 2px solid black; 
    box-shadow: 0 15px 40px rgb(0, 0, 0);
    margin: auto; 
    
}
.box img{
        width: 100%;
}
body {
    background-color:#f2f4f8
}
.button {
    width: 200px;
    height: 70px;
    background-color: #2f5d8a;
    justify-content: center;
    box-sizing:border-box;
    border-radius: 50px;
    align-items: center;
    display: flex;
    margin: auto;
}
a{
    color:white; 
    text-align: center;
    text-decoration: none;   
}
.text{
    padding: 20px;
}